@page
@model ProjetAspCore.Pages.MAtieres__referenceScriptLibraries.DetailsModel

@{
    ViewData["Title"] = "Details";
}



<div class="dashboard" id="dashboard">
    <div class="row">
         <h4>Matiere</h4>
        <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matiere.libele_matiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matiere.libele_matiere)
        </dd>

    
    </dl>
    </div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card ">
            <h5 class="card-title" style="text-align: center;color:#676a6d;font-weight: bold;"> Liste des Seances matiere  @Html.DisplayFor(model => model.Matiere.libele_matiere)</h5>
                    <div class="card-body align-items-center mt-3">
                        <table class="table" style="margin-top:20px;">
                                <thead>
                                     <tr>
                                        <th>Date Debut </th>
                                        <th>Date Fin</th>
                                        <th>Salle</th>
                                        <th>Présence</th>
                                        <th>Absence</th>
                                        <th>Actions</th>
                                        <th></th>
                                      </tr>
                                </thead>
                            <tbody>
@foreach (var item in  ViewData["idSeanceMatiere"] as IList<Models.Seance>) 
    {
        <tr>
                <td>@item.date_debut</td>
                <td>@item.date_fin</td>
                <td>@item.Salle.numero_salle</td>
                <td></td>

                                       
                                    
         </tr>

    }
                            </tbody>
                        </table>
                   
            <h4>Liste de Presence </h4>
                    </div>
                        <table class="mt-4">
                              <thead>
                            <tr>
                                <th>Date</th>
                                <th>Nom Etudiant</th>
                                <th>Filiere</th>
                                <th>Professeur</th>
                                <th></th>
                            </tr>
                              </thead>
                                <tbody>
                                    
                    @foreach (var item in  ViewData["abs"] as IList<Models.Abscence>) 
    {
                                    <tr>
                                        <td> @item.date_abs.ToShortDateString()</td>
                                        <td> @item.etudiant.nom</td>
                                        <td> @item.etudiant.prenom</td>
                                        <td>@item.etudiant.Filiere.libele_filiere</td>
                                        <td>@item.professeur.FullName</td>

                                    </tr>
    }               
                                    
                                </tbody>
                        </table>
                        
                    
                </div>
            </div>
     </div>
</div>

 
               
    
