@page
@model ProjetAspCore.Pages.Professeur__referenceScriptLibraries.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="dashboard" id="dashboard">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card ">
                    <h5 class="card-title" style="text-align: center;color:#676a6d;font-weight: bold;"> Liste des Professeurs</h5>
                    <div class="card-body align-items-center mt-3">

                       <form class="navbar-form navbar-right">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Chercher....">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				        </form>
                        <table class="table" style="margin-top:20px;">
                            <thead>
                                <tr>
                            <th>
                             @Html.DisplayNameFor(model => model.Professeur[0].nom)
                            </th>
                            <th>
                             @Html.DisplayNameFor(model => model.Professeur[0].prenom)
                            </th>
                            <th>
                             @Html.DisplayNameFor(model => model.Professeur[0].email)
                            </th>
                          
                                    <th>Actions</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Professeur)
                                {
                            <tr>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.nom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prenom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>
                                    

                                        <td>
                                            <div class="row">
                               
                                                <div class="col-md-4">
                                                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.code_professeur">Modifier</a> 

                                                </div>
                                               
                                                <div class="col-md-4">

                                                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.code_professeur">Supprimer</a>
                                                </div>
                            

                                            </div>
                                        </td>
                                </tr>

                                }
                            </tbody>
                        </table>

                       <a asp-area="Identity" asp-page="/Account/Register"  class="btn btn-primary">Enregistrer un Professeur</a>

                    </div>
                </div>
            </div>
        </div>

    </div>

