@page
@model ProjetAspCore.Pages.Professeur__referenceScriptLibraries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Professeur[0].nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professeur[0].prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professeur[0].email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Professeur) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.code_professeur">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.code_professeur">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.code_professeur">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
