@page
@model ProjetAspCore.Pages.Etudiants__referenceScriptLibraries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].cin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].date_naissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Filiere.libele_filiere)
            </th>
        
            <th>Nombre Abscence </th>
              <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Etudiant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_naissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filiere.libele_filiere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abscences.Count)
            </td>
            <td>
            </td>
             
             
            <td>
                <a asp-page="./Edit" asp-route-id="@item.code_etudiant">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.code_etudiant">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.code_etudiant">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
