@page
@model ProjetAspCore.Pages.Etudiants__referenceScriptLibraries.IndexModel

@{
    ViewData["Title"] = "Index";
}



<div class="dashboard" id="dashboard">
        <div class="row mt-5">

            <div class="col-md-12">
                <div class="card ">
                    <h5 class="card-title" style="text-align: center;color:#676a6d;font-weight: bold;"> Liste des Etudiants</h5>
                    <div class="card-body align-items-center mt-3">

                       <form class="navbar-form navbar-right">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Chercher....">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				        </form>
			
                        <table class="table" style="margin-top:20px;">
                            <thead>
                                <tr>
             <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].cin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].date_naissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].Filiere.libele_filiere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant[0].code_rfid)
            </th>
            <th>Nombre Abscences</th>
                          
                                    <th>Actions</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

        @foreach (var item in Model.Etudiant)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_naissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filiere.libele_filiere)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.code_rfid)
            </td>
            <td>
                
           @( @item.Filiere.Matieres.Select(e => e.Seances).Count() -  @item.Abscences.Count () )
            
            </td>
             

                <td>
                    <div class="row">
                       
                        <div class="col-md-6">
                            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.code_etudiant">Modifier</a> 
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.code_etudiant">Supprimer</a>
                        </div>
                    </div>
                </td>
        </tr>

             }
        </tbody>
    </table>

            <a asp-page="Create" class="btn btn-primary">Enregistrer un Etudiant</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
